# Node & React
node_modules/
frontend/node_modules/
electron-launcher/node_modules/

# Python
backend/venv/
backend/__pycache__/
backend/ghost_rdp.db

# Build output
dist/
build/

# OS/files
.DS_Store
.env
*.pyc
